# üêçDay 1_Data PreProcessing

[Day 1_Data PreProcessing](https://github.com/Avik-Jain/100-Days-Of-ML-Code/blob/master/Code/Day%201_Data%20PreProcessing.md)

 `Ref` [Avik-Jain/100-Days-Of-ML-Code](https://github.com/Avik-Jain/100-Days-Of-ML-Code)

## Importing the libraries

## Importing dataset

In [6]:
import pandas as pd
import numpy as np
url = 'https://github.com/Avik-Jain/100-Days-Of-ML-Code/blob/master/datasets/Data.csv'
df = pd.read_html(url)
df = df[0]
df.head()

   Unnamed: 0  Country   Age   Salary Purchased
0         NaN   France  44.0  72000.0        No
1         NaN    Spain  27.0  48000.0       Yes
2         NaN  Germany  30.0  54000.0        No
3         NaN    Spain  38.0  61000.0        No
4         NaN  Germany  40.0      NaN       Yes

In [23]:
print(pd.__version__)
print(np.__version__)

0.23.4
1.15.1

In [12]:
df = df.iloc[:,1:5]
X = df.iloc[:,:-1].values
Y = df.iloc[:,3].values

## Handling the missing data

In [9]:
df.isnull().any()

Unnamed: 0     True
Country       False
Age            True
Salary         True
Purchased     False
dtype: bool

In [14]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN',strategy = 'mean',axis=0)
imputer = imputer.fit(X[:,1:3])
X[:,1:3] = imputer.transform(X[:,1:3])

## Encoding categorical data

In [16]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,0])

In [17]:
#crateing a dummy vatiable
onehotencoder = OneHotEncoder(categorical_features=[0])
X = onehotencoder.fit_transform(X).toarray()
labelencoder_Y = LabelEncoder()
Y = labelencoder_Y.fit_transform(Y)

d:\python\python36-32\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

## Splitting the datasets into training sets & Test sets

In [19]:
from sklearn.cross_validation  import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

ModuleNotFoundError: No module named 'sklearn.cross_validation'

üêû

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,random_state=0)

## Feature Scaling

In [26]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

# üîÄUseR

In [112]:
library(RCurl)
library(caret)
df <- read.csv(text = getURL("https://raw.githubusercontent.com/Avik-Jain/100-Days-Of-ML-Code/master/datasets/Data.csv"))

In [113]:
any(is.na(df))
any(is.null(df))
str(df)

[1] TRUE

[1] FALSE

'data.frame':	10 obs. of  4 variables:
 $ Country  : Factor w/ 3 levels "France","Germany",..: 1 3 2 3 2 1 3 1 2 1
 $ Age      : int  44 27 30 38 40 35 NA 48 50 37
 $ Salary   : int  72000 48000 54000 61000 NA 58000 52000 79000 83000 67000
 $ Purchased: Factor w/ 2 levels "No","Yes": 1 2 1 1 2 2 1 2 1 2

In [114]:
df[is.na(df$Age),2] = mean(df$Age,na.rm = T)
df[is.na(df$Salary),3] = mean(df$Salary,na.rm = T)

In [115]:
df <- predict(preProcess(df,method = c('center','scale')),newdata = df)

In [116]:
fit_dummy <- dummyVars(~.,data=df[,c(1:3)],levelsOnly = T)
df_dummy <- as.data.frame(predict(fit_dummy,newdata=df[,c(1:3)]))

In [117]:
df <- cbind(df_dummy,df$Purchased)
names(df)[6] <- c("Purchased")
df

   France Germany Spain Age        Salary     Purchased
1  1      0       0      0.7199314  0.7110128 No
2  0      0       1     -1.6236751 -1.3643758 Yes
3  0      1       0     -1.2100975 -0.8455287 No
4  0      0       1     -0.1072238 -0.2402070 No
5  0      1       0      0.1684946  0.0000000 Yes
6  1      0       0     -0.5208015 -0.4996306 Yes
7  0      0       1      0.0000000 -1.0184777 No
8  1      0       0      1.2713683  1.3163344 Yes
9  0      1       0      1.5470867  1.6622325 No
10 1      0       0     -0.2450830  0.2786401 Yes

In [118]:
trn_id <- createDataPartition(y = df$Purchased,p = 0.8,list = F)
trn <- df[trn_id,]
vld <- df[-trn_id,]